<html>
<head>
    <title>Request received</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="box">
    <img src='/static/bril.png'>
    {{if .Success}}
        <h1 class='h1-password'>Success!</h1>
        <p>Request to reset password for user {{.Username}} succesfully received. Please check you e-mail and click on the confirmation link</p>
    {{else}}
        <h1 class='h1-password'>Error!</h1>
        <p>An error occured while processing the password reset request. Error: {{.ErrMessage}}</p>
    {{end}}
</div>
</body>
</html>