<html>
<head>
    <title>Password reset</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
<div class='box'>
    <img src='/static/bril.png'>
    {{if .Success}}
        <h1 class='h1-password'>Success!</h1>
        <p>Password for {{.Username}} succesfully reset.</p>
    {{else}}
        <h1 class='h1-password'>Error!</h1>
        <p>An error occured while settings your password. Error: {{.ErrMessage}}</p>
    {{end}}
</div>
</body>
</html>