<html>
<head>
    <title>{{.AppName}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
		.spoiler:not(:hover), .spoiler:not(:hover) * {
			color:transparent !important;
		}
		.spoiler:not(:hover) {
			text-shadow:0 0 12px #4D5763;
		}
		.spoiler {
			transition:color 0.25s ease, text-shadow 0.25s ease;
		}
		.spoiler * {
			transition:color 0.25s ease;
		}
	</style>
</head>
<body>
<div class='box'>
    <img src='/static/logo.png'>
    {{if .Success}}
        <h1 class='h1-password'>Success!</h1>
        <p>New password for {{.Username}}: <span class="spoiler">{{.Password}}</span></p>
    {{else}}
        <h1 class='h1-password'>Error!</h1>
        <p>An error occured while settings your password. Error: {{.ErrMessage}}</p>
    {{end}}
</div>
</body>
</html>