<html>
<head>
    <title>Enter password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class='box'>
        <div>
            <h1 class='h1-password'>PASSWORD RESET</h1>
        </div>
        <div class='form'>
            <form action="/confirmreset" method="post">
                <input type="hidden" name="token" value={{.Token}} readonly>
                    <p><input class='input-username' type="text" name="username" value={{.Username}} readonly></p>
                    <p><input class='input-username' type="password" name="password" placeholder="Password"></p>
                <input class='input-submit' type="submit" value="Submit">
            </form>
        </div>
</body>
</html>