<html>
<head>
    <title>Enter username</title>
</head>
<body>
<form action="/requestreset" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username"></td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
</body>
</html>